/* theme_color_a */
.ip-theme-bg-color-a { background-color: #3399CC; }
.ip-theme-font-color-a { color: #3399CC; }
.ip-theme-border-color-a {border-color: #3399CC; }

/* theme_color_b */
.ip-theme-bg-color-b { }
.ip-theme-font-color-b { }
.ip-theme-border-color-b { }

/* header_a_color ?? */
.ip-header {
    border-top: solid 1px #3399CC;
    border-bottom: solid 1px #3399CC;
    background-color: #3399CC;

}
#afui a {
    color: #666;
}
/* header_font_color ?? white or black?? */
#afui #header h1{color:#fff}

/*Content background color*/
#afui #content, #afui .panel {
    background-color: #fff;
}

#afui .panel {
    padding: 0;
    margin: 0;
}
    
/* menu_color */
#afui #menu .list li, #afui #menu .list .divider, #afui #menu .list li:last-child {
    border-color: #5C5C5C;
}

#afui > #menu.tabletMenu {
    color: white;
    background: #454545;
    border-right: 1px solid #5C5C5C;
}


    
/* bgColor */
.ip-bg-color { background-color: #fff; }
/* fontColor */
.ip-bg{}

