/* theme_color_a */
.ip-theme-bg-color-a { background-color: #ED1C24; }
.ip-theme-font-color-a { color: #ED1C24; }
.ip-theme-border-color-a {border-color: #ED1C24; }

/* theme_color_b */
.ip-theme-bg-color-b { }
.ip-theme-font-color-b { }
.ip-theme-border-color-b { }

/* header_a_color ?? */
.ip-header {
    border-top: solid 1px #FF1922;
    border-bottom: solid 1px #FF1922;
    background-color: #ED1C24;

}
#afui a {
    color: #ED1C24;
}
/* header_font_color ?? white or black?? */


    
/* menu_color */
#afui #menu .list li, #afui #menu .list .divider, #afui #menu .list li:last-child {
    border-color: #5C5C5C;
}

#afui > #menu.tabletMenu {
    color: white;
    background: #454545;
    border-right: 1px solid #5C5C5C;
}

#afui #content {
    background-color: #fff;
}

#afui .panel {
    background-color: #fff;
    padding: 0;
    margin: 0;
}



