/* overall */
body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
}

#content .wp-hub-div p {
    font-size: 80%;
    margin: 0;
}
#content .wp-hub-title, #content  .wp-tpl-0 .wp-post-title, #content  .wp-tpl-0 .wp-post-subtitle {
    margin: 0;padding: 0;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;
    font-size: 80%;
}

/* wp-tpl-0 */
.wp-tpl-0 .wp-hub-div:first-child .wp-post-div .wp-post-title, .wp-tpl-0 .wp-hub-div:first-child .wp-post-div .wp-post-subtitle {
    width: 90%;  
} 
#content .wp-post-div .wp-post-title {
    font-size: 90%;  
} 

.wp-tpl-0 .wp-list, .wp-tpl-0 .wp-hub-list { overflow: hidden; }
.wp-tpl-0 .wp-hub-div:first-child { height: 246px; background-color: #454545;}
#content .wp-tpl-0 .wp-hub-div:first-child .wp-hub-title {
    text-transform: uppercase;
    padding: 4px 4px;
    clear: both;
    background-color: transparent !important;
    color: #fff;
}

.wp-tpl-0 .wp-hub-div:first-child .wp-post-div {
    height: 220px;
}
.wp-tpl-0 .wp-hub-div:first-child .wp-post-div .wp-tpl-0-img {
    height: 220px;
}

.wp-tpl-0 .wp-hub-div:first-child .wp-post-div .wp-tpl-0-overlay {
    position: relative;
    z-index: 1;
    top: -60px;
    height: 60px;
    padding: 4px 10px;
    background-repeat: repeat;
    color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAA1JREFUGFdjYGBgaAAAAIUAgbVRNccAAAAASUVORK5CYII=);
}

#content .wp-tpl-0 .wp-post-ago {
    text-align:right;
    font-size: 60%;
}

#content .wp-tpl-0 .wp-hub-div:not(:first-child) .wp-hub-title {
    clear: both;
    width: auto;
    text-transform: uppercase;
    padding: 6px 10px;
    margin: 0;
    color: #fff;
}
.wp-tpl-0 .wp-hub-div:not(:first-child) .wp-post-div {
    height: 80px;
}
.wp-tpl-0 .wp-hub-div:not(:first-child) .wp-post-div .wp-tpl-0-img {
    height: 60px;
    width: 60px;
    float: left;
    margin: 10px 10px 0;
}

.wp-tpl-0 .wp-hub-div:not(:first-child) .wp-post-div  .wp-tpl-0-overlay {
    padding-top: 10px;
    padding-right: 20px;
}


.wp-tpl-0 .wp-list .wp-hub-title {
    clear: both;
    float: right;
    text-transform: uppercase;
    padding: 6px 10px;
    margin: 15px;
    color: #fff;
}
.wp-tpl-0 .wp-list .wp-post-div {
    height: 80px;
}
.wp-tpl-0 .wp-list .wp-post-div .wp-tpl-0-img {
    height: 60px;
    width: 60px;
    float: left;
    margin: 10px 10px 0;
}

.wp-tpl-0 .wp-list .wp-post-div  .wp-tpl-0-overlay {
    padding-top: 15px;
    padding-right: 15px;
}



/* wp-tpl-1 */
.wp-tpl-1 .wp-hub-title, .wp-tpl-1 .wp-post-title, .wp-tpl-1 .wp-post-subtitle {
    max-width: 90%;
}

.wp-tpl-1 .wp-post-div {
    height: 120px;
    overflow: hidden;
}

.wp-tpl-1 .wp-post-div .wp-post-left {
    width: 100px;
    height: 100px;
    padding: 10px;
    float: left;
}

.wp-tpl-1 .wp-post-div .wp-post-right {
    overflow:hidden;
    text-align: right;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.wp-tpl-1 .wp-hub-title {
    font-size: 120%;
}


.wp-tpl-1 .wp-post-div .wp-post-title {
}
.wp-tpl-1 .wp-post-div .wp-post-subtitle {
    font-size: 80%;
}

