/* 480x800px */

/* wpc-tpl-0 */
.wpc-tpl-0 .wpc-hub-title {
    
}
.wpc-tpl-0 .wpc-hub-li, .wpc-hub-ul {
}


.wpc-tpl-0 .wpc-hub-li {
    padding: 10px;
    height: 220px;
}

.wpc-tpl-0 .wpc-hub-li h4 {
    font-size: 120%;
    padding-top: 150px;
}
.wpc-tpl-0.wpc-tpl-0-hub-a .wpc-hub-li {
    padding: 0px;
    height: 220px;
    width: 100%;
}

.wpc-tpl-0.wpc-tpl-0-hub-b .wpc-post-hub-div-2 {
    padding: 0px;
    width: 50%;
    float: left;
    height: 220px;
}

.wpc-tpl-0.wpc-tpl-0-hub-b .wpc-post-hub-div-2:first-child {
    padding: 0px;
    width: 100%;
    float: left;
    height: 220px;
}
.wpc-tpl-0.wpc-tpl-0-hub-b .wpc-post-hub-div-2 h4 {
    padding: 10px;
    width: 50%;
    font-size: 90%;
}