/* 480x800px */
.wpc-hub-title, .wpc-post-title, .wpc-post-subtitle {
    margin: 0;padding: 0;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;
}
/* wpc-tpl-0 */

.wpc-tpl-0 .wpc-hub-div:first-child .wpc-post-div .wpc-post-title, .wpc-tpl-0 .wpc-hub-div:first-child .wpc-post-div .wpc-post-subtitle {
    max-width: 70%;float: left;
} 

.wpc-tpl-0 .wpc-list, .wpc-tpl-0 .wpc-hub-list { overflow: hidden; }
.wpc-tpl-0 .wpc-hub-div:first-child { height: 306px; }
.wpc-tpl-0 .wpc-hub-div:first-child .wpc-hub-title {
    text-transform: uppercase;
    font-size: 100%;
    padding: 6px 10px;
    clear: both;
}
.wpc-tpl-0 .wpc-hub-div:first-child .wpc-post-div {
    height: 280px;
}
.wpc-tpl-0 .wpc-hub-div:first-child .wpc-post-div .wpc-tpl-0-img {
    height: 280px;
}

.wpc-tpl-0 .wpc-hub-div:first-child .wpc-post-div .wpc-tpl-0-overlay {
    position: relative;
    z-index: 1;
    top: -80px;
    height: 80px;
    padding: 10px 20px;
    background-repeat: repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAA1JREFUGFdjYGBgaAAAAIUAgbVRNccAAAAASUVORK5CYII=);
}

.wpc-tpl-0 .wpc-hub-div:first-child .wpc-post-div .wpc-post-ago {
    float: right;
}

.wpc-tpl-0 .wpc-hub-div:not(:first-child) .wpc-hub-title {
    clear: both;
    float: right;
    text-transform: uppercase;
    font-size: 100%;
    padding: 6px 10px;
    background-color: #ED1C24;
    margin: 15px;
    color: #fff;
}
.wpc-tpl-0 .wpc-hub-div:not(:first-child) .wpc-post-div {
    height: 130px;
}
.wpc-tpl-0 .wpc-hub-div:not(:first-child) .wpc-post-div .wpc-tpl-0-img {
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px 15px 0;
}

.wpc-tpl-0 .wpc-hub-div:not(:first-child) .wpc-post-div  .wpc-tpl-0-overlay {
    padding-top: 15px;
}


.wpc-tpl-0 .wpc-list .wpc-hub-title {
    clear: both;
    float: right;
    text-transform: uppercase;
    font-size: 100%;
    padding: 6px 10px;
    background-color: #ED1C24;
    margin: 15px;
    color: #fff;
}
.wpc-tpl-0 .wpc-list .wpc-post-div {
    height: 130px;
}
.wpc-tpl-0 .wpc-list .wpc-post-div .wpc-tpl-0-img {
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px 15px 0;
}

.wpc-tpl-0 .wpc-list .wpc-post-div  .wpc-tpl-0-overlay {
    padding-top: 15px;
    padding-right: 15px;
}



/* wpc-tpl-1 */
.wpc-tpl-1 .wpc-hub-title, .wpc-tpl-1 .wpc-post-title, .wpc-tpl-1 .wpc-post-subtitle {
    max-width: 90%;
}

.wpc-tpl-1 .wpc-post-div {
    height: 120px;
    overflow: hidden;
}

.wpc-tpl-1 .wpc-post-div .wpc-post-left {
    width: 100px;
    height: 100px;
    padding: 10px;
    float: left;
}

.wpc-tpl-1 .wpc-post-div .wpc-post-right {
    overflow:hidden;
    text-align: right;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.wpc-tpl-1 .wpc-hub-title {
    font-size: 120%;
}


.wpc-tpl-1 .wpc-post-div .wpc-post-title {
}
.wpc-tpl-1 .wpc-post-div .wpc-post-subtitle {
    font-size: 80%;
}

